<nav class="sidebar">
    <ul>
        <li><a href="../index.html" ><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="#" ><i class="fas fa-notes-medical"></i> Medical History</a></li>
        <li><a href="#" ><i class="fas fa-calendar-check"></i> Appointments</a></li>
        <li><a href="../live-queue-tracking.html"><i class="fas fa-calendar-check"></i>Live Queue Tracking</a></li>
        <li><a href="#" ><i class="fas fa-comment-dots"></i> Feedback</a></li>
        <li><a href="#" ><i class="fas fa-user"></i> Profile</a></li>
    </ul>
</nav>
